asteval==0.*,>=0.9.21
black==20.*,>=20.8.0.b1
bumps==0.*,>=0.8.0
codecov==2.*,>=2.1.10
dfo-ls==1.*,>=1.2.1
lmfit==1.*,>=1.0.0
monty==4.*,>=4.0.2
numpy==1.*,>=1.19.0
pint==0.*,>=0.16.0
pytest==6.*,>=6.2.1
pytest-cov==2.*,>=2.9.0
pytest-mock==3.*,>=3.4.0
uncertainties==3.*,>=3.1.0
