asteval==0.*,>=0.9.21
black==20.*,>=20.8.0.b1
bumps==0.*,>=0.8.0
codecov==2.*,>=2.1.11
dfo-ls==1.*,>=1.2.1
lmfit==1.*,>=1.0.0
matplotlib==3.*,>=3.3.3
monty==4.*,>=4.0.2
numpy==1.*,>=1.19.0
pint==0.*,>=0.16.0
pytest==6.*,>=6.2.2
pytest-cov==2.*,>=2.11.1
pytest-mock==3.*,>=3.5.1
uncertainties==3.*,>=3.1.0
xarray==0.*,>=0.16.2
